body {
		text-align: center;
}

h1 {
		font-family: Raleway;
		color: #FFFFFF;
		letter-spacing: 1px;
		font-weight: 400;
		font-size: 45px;
		margin:0;
}
a {		
		font-family: Raleway;
		color: #FFFFFF;
		font-weight: 600;
		letter-spacing: 1px;
		font-size: 18px;
		margin:0px 20px;
}
h3 {	
		font-family: Raleway;
		color: #0D2C40;
		font-weight: 600;
		letter-spacing: 1px;
		font-size: 20px;
}
p {		font-family: "Droid Serif";
		line-height: 26px;
		font-size: 18px;
}
header {
		background-color:#F15B31;
		padding:30px 20px;
}
body {
		margin: 0;
}
nav {	background-color:#00A6B3;
		padding:20px 0px;
}
main {
		width: 850px;
		margin: 35px auto;
}
img {
		margin:40px 8px 0px 8px;
}

